{% extends 'blog/base.html' %}
{% block title %}EDIT PAGE{% endblock %}

{% block body %}
    <h3>EDIT PAGE</h3>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        {% for f in form %}
            <div>
              <label>{{f.label}}</label>
              {{f}}
              <div id="error">{{f.errors}}</div>
            </div> 
        {% endfor %}
        <input type="submit" value="Register">
    </form>







{% endblock %}